@media screen and (max-width: 600px) {
    .margin-basic {
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media screen and (min-width: 600px) {
    .margin-basic {
        margin-left: 6%;
        margin-right: 6%;
    }
}

@media screen and (min-width: 1200px) {
    .margin-basic {
        margin-left: 13%;
        margin-right: 13%;
    }
}

/*footer fix, riešenie z internetu : https://css-tricks.com/couple-takes-sticky-footer/*/
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}
/*footer fix*/

label {
    font-size: large;
}

p, h1, h2, h3, h4, h5 {
    font-family: Verdana, serif;
    padding: 10px;
}

h5 {
    font-weight: bold;
    padding: 10px 20px 10px 20px;
}

h1, h2, h3 {
    text-align: center;
}

td, th {
    padding: 15px !important;
    font-family: Verdana, serif;
}

.tbody-chart tr:nth-child(1) {
    background-color: #ffd957;
}

.tbody-chart tr:nth-child(2) {
    background-color: #d3d3d3;
}

.tbody-chart tr:nth-child(3) {
    background-color: #de9266;
}

#logo {
    margin: 5px;
}

#album {
    width: 100%;
    padding: 10px;
}

#loginButton {
    color: white;
    border: 1px solid white;
}

#registerButton {
    color: black;
    background-color: white;
}

#image-dummy {
    width: 100%;
    max-width: 300px;
}

.add-button-div {
    text-align: center;
    padding: 10px;
}

.submit-button {
    width: 100%;
}

.text-align-center {
    text-align: center;
}

.number-one-image {
    width: 100%;
}

.center-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-one-padding {
    padding: 10px;
}

.number-one-caption-padding {
    padding: 10px 10px 0 10px;
}

.padding-20 {
    padding: 20px !important;
}

.padding-10 {
    padding: 10px !important;
}

.margin-right {
    margin-right: 15px;
}

.margin-off {
    margin: 0 !important;
}

.padding-off {
    padding: 0 !important;
}

.div-form {
    margin-top: 130px;
    margin-bottom: 130px;
}

.div-main {
    margin-top: 40px;
    margin-bottom: 40px;
}

.div-inner {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}

.div-footer {
    padding: 20px;
    font-family: Verdana, serif;
    color: #DCDCDC;
}

.card-image {
    width: 100%;
    max-width: 250px;
}

.clickable-row {
    cursor: pointer;
}

.bi-trash-fill-lg {
    font-size: large;
}

.bi-pencil-fill-lg {
    font-size: large;
}

.bi-trash-fill-xxlg {
    font-size: xx-large;
}

.bi-pencil-fill-xxlg {
    font-size: xx-large;
}

.bi-hand-thumbs-up-fill-xxlg {
    font-size: xx-large;
}